/*************************************************
  Custom ArcGIS Maps SDK for JavaScript theming.
*************************************************/
@import url("https://js.arcgis.com/4.25/esri/themes/light/main.css");

@import "./_variables.css";

/*************************************************
  Add application and widget styles.
*************************************************/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

.app {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.app--header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 15px;
  background-color: var(--main-bg-color);
  color: var(--font-color-white);
}

.app--header-title {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 880px) {
  .app--header-search.esri-search {
    width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .app--header-search.esri-search {
    width: 640px;
  }
}

.app--view {
  flex: 1;
  width: 100%;
}
