<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (htmlWebpackPlugin.options.mode === 'production') { %>
    <script>
      // Check that service workers are registered
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('./service-worker.js')
            .catch(function() {
              console.log('Service Worker not loaded');
            });
        });
      }
    </script>
  <% } %>
  <!-- add favicons to src/assets and uncomment links -->
  <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
</head>
<body>
  <noscript>JavaScript is required to run this application.</noscript>
  <div class="app">
    <header class="app--header">
      <div class="app--header-title"><%= htmlWebpackPlugin.options.title %></div>
      <div class="app--header-search" id="searchDiv"></div>
    </header>
    <div class="app--view" id="viewDiv"></div>
  </div>
</body>
</html>
