/*************************************************
  Custom ArcGIS JavaScript API theming.
*************************************************/

// Color variables.
@import "~@arcgis/core/assets/esri/themes/base/functions";
@import "~@arcgis/core/assets/esri/themes/base/colors/scss/variables"; // calcite colors

$font-color: $Calcite_Gray_700 !default;
$interactive-font-color: $Calcite_Gray_550 !default;
$background-color: $Calcite_Gray_050 !default;

$interactive-font-color--inverse: $Calcite_Gray_050 !default;
$background-color--inverse: $Calcite_Gray_650 !default;

$interactive-font-color--hover: offset-foreground-color($interactive-font-color, 25%) !default;
$background-color--hover: offset-background-color($background-color, 4.75%) !default;
$border-color--hover: offset-foreground-color($interactive-font-color, 50%) !default;

$border-color--active: $Calcite_Highlight_Blue_350 !default;
$background-color--active: $Calcite_Highlight_Blue_100 !default;

$background-color--offset: offset-background-color($background-color, 4.75%);
$background-color--offset-subtle: offset-background-color($background-color, 3.5%);

$button-color: $Calcite_Highlight_Blue_350 !default;
$button-color--bright: $Calcite_Blue_a100 !default;
$button-color--hover: darken($button-color, 10%) !default;
$button-color--inverse: $interactive-font-color--inverse !default;

$heading-color: $font-color !default;
$background-color--overlay: rgba(0, 0, 0, 0.7) !default;
$opacity--disabled: 0.4 !default;
$opacity--sortable: 0.75 !default;
$interactive-font-color--disabled: rgba($interactive-font-color, $opacity--disabled) !default;
$font-color--placeholder: rgba($font-color, $opacity--disabled) !default;
$border-color: rgba($interactive-font-color, 0.3) !default;
$border-color--subtle: rgba($interactive-font-color, 0.15) !default;
$border-color--contrast: rgba($interactive-font-color, 0.4) !default;

$border-color--error: $Calcite_Vibrant_Red_200 !default;
$font-color--error: $Calcite_Red_a250 !default;
$background-color--error: rgba($font-color--error, 0.1);

$smartmapping-slider__thumb-background-color: $interactive-font-color !default;
$smartmapping-slider__ramp-stroke-color: $interactive-font-color !default;

// Widgets to include.
// Set to `false` here by default. Comment out to include.
$include_AreaMeasurement2D: false !default;
$include_AreaMeasurement3D: false !default;
$include_Attachments: false !default;
// $include_Attribution: false !default;
$include_BasemapGallery: false !default;
$include_BasemapLayerList: false !default;
$include_BasemapToggle: false !default;
$include_BinaryColorSizeSlider: false !default;
$include_Bookmarks: false !default;
$include_BuildingExplorer: false !default;
$include_ButtonMenu: false !default;
$include_ClassedColorSlider: false !default;
$include_ClassedSizeSlider: false !default;
$include_Compass: false !default;
$include_ColorSizeSlider: false !default;
$include_ColorSlider: false !default;
$include_CoordinateConversion: false !default;
$include_DatePicker: false !default;
$include_Daylight: false !default;
$include_Directions: false !default;
$include_DirectLineMeasurement3D: false !default;
$include_DistanceMeasurement2D: false !default;
$include_Editor: false !default;
$include_ElevationProfile: false !default;
$include_Expand: false !default;
$include_Feature: false !default;
$include_FeatureContent: false !default;
$include_FeatureMedia: false !default;
$include_FeatureForm: false !default;
$include_FeatureTable: false !default;
$include_FeatureTemplates: false !default;
$include_Grid: false !default;
$include_HeatmapSlider: false !default;
$include_Histogram: false !default;
$include_HistogramRangeSlider: false !default;
$include_IdentityForm: false !default;
$include_IdentityModal: false !default;
$include_ItemList: false !default;
// $include_LayerList: false !default;
// $include_Legend: false !default;
$include_LineOfSight: false !default;
$include_Measurement: false !default;
$include_NavigationToggle: false !default;
$include_OpacitySlider: false !default;
$include_Print: false !default;
// $include_Popup: false !default;
$include_ScaleBar: false !default;
$include_ScaleRangeSlider: false !default;
// $include_Search: false !default;
$include_SizeSlider: false !default;
$include_Sketch: false !default;
$include_Slice: false !default;
$include_Slider: false !default;
$include_Spinner: false !default;
$include_Swipe: false !default;
$include_TableList: false !default;
$include_TimePicker: false !default;
$include_TimeSlider: false !default;
// $include_Zoom: false !default;

// How to switch up the API font family.
// @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
// $font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Core will do the rest.
// This is the file to start with to understand the API theming system or to make advanced theming changes.
@import "~@arcgis/core/assets/esri/themes/base/core";

/*************************************************
  Add application and widget styles.
*************************************************/

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: $font-family;
  font-size: 14px;
}

.app {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.app--header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: $Brand_Blue_200;
  color: $Calcite_Gray_050;
}

.app--header-title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 0.5rem;
}

@media screen and (min-width: 880px) {
  .app--header-search.esri-search {
    width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .app--header-search.esri-search {
    width: 640px;
  }
}

.app--view {
  width: 100%;
  height: calc(100% - 40px);
}
