<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <!-- add favicons to src/assets and uncomment links -->
  <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
</head>
<body></body>
</html>
