<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <noscript>JavaScript is required to run this application.</noscript>
    <div class="app">
      <header class="app--header">
        <div class="app--header-title">ArcGIS WebMap Template</div>
        <div class="app--header-search" id="searchDiv"></div>
      </header>
      <div class="app--view" id="viewDiv"></div>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
