$icomoon-font-path: "~arcgis-js-api/themes/base/icons/fonts" !default;

// Widgets (sorted alphabetically)
$include_AreaMeasurement2D: false !default;
$include_AreaMeasurement3D: false !default;
$include_Attribution: true !default;
$include_BasemapGallery: false !default;
$include_BasemapLayerList: false !default;
$include_BasemapToggle: false !default;
$include_Bookmarks: false !default;
$include_BrowseItems: false !default;
$include_ClassedColorSlider: false !default;
$include_ClassedSizeSlider: false !default;
$include_ColorPicker: false !default;
$include_Compass: false !default;
$include_ColorSizeSlider: false !default;
$include_ColorSlider: false !default;
$include_CoordinateConversion: false !default;
$include_DatePicker: false !default;
$include_Daylight: false !default;
$include_Directions: false !default;
$include_DirectLineMeasurement3D: false !default;
$include_DistanceMeasurement2D: false !default;
$include_Editor: false !default;
$include_Expand: true !default;
$include_Feature: true !default;
$include_FeatureForm: false !default;
$include_FeatureTemplates: false !default;
$include_HeatmapSlider: false !default;
$include_Histogram: false !default;
$include_HistogramRangeSlider: false !default;
$include_HorizontalSlider: false !default;
$include_ItemList: false !default;
$include_LayerList: true !default;
$include_Legend: true !default;
$include_LineOfSight: false !default;
$include_Measurement: false !default;
$include_NavigationToggle: false !default;
$include_OpacitySlider: false !default;
$include_Print: false !default;
$include_Popup: true !default;
$include_RasterSymbologyEditor: false !default;
$include_RendererSlider: false !default;
$include_ScaleBar: false !default;
$include_ScaleRangeSlider: false !default;
$include_Search: true !default;
$include_SizeSlider: false !default;
$include_Sketch: false !default;
$include_Slice: false !default;
$include_Slider: false !default;
$include_Spinner: true !default;
$include_Swipe: false !default;
$include_TimePicker: false !default;
$include_TimeSlider: false !default;
$include_Zoom: true !default;

@import "~@esri/calcite-app-components/dist/calcite-app/calcite-app.css";
@import "~arcgis-js-api/themes/light/main.scss";
@import "index";
