.app {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.app--header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: $Brand_Blue_200;
  color: $Calcite_Gray_050;
}

.app--header-title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 0.5rem;
}

.app--header-search {
  .esri-widget--button {
    width: 40px;
  }
  .esri-widget--button,
  .esri-input {
    height: 40px;
    background: lighten($Brand_Blue_200, 10%);
    color: $Calcite_Gray_050;
  }
  .esri-search__input {
    height: 40px;
    &::-webkit-input-placeholder,
    &::placeholder {
      color: rgba($Calcite_Gray_050, 0.4);
    }
  }
  .esri-search__submit-button,
  .esri-search__sources-button {
    border: none;
  }
  .esri-menu {
    margin-top: 0;
  }
  .esri-menu__list-item--active,
  .esri-menu__list-item--active:focus,
  .esri-menu__list-item--active:hover {
    border-left-color: lighten($Brand_Blue_200, 25%);
  }
}
@media screen and (min-width: 880px) {
  .app--header-search.esri-search {
    width: 340px;
  }
}
@media screen and (min-width: 1280px) {
  .app--header-search.esri-search {
    width: 640px;
  }
}

.app--view {
  width: 100%;
  height: calc(100% - 40px);
}